#sidebar-toggle {
    position: absolute;
    z-index: 1000;
}

.fixed.menu .brand.item {
    flex-grow: 1;
    justify-content: center;
    font-weight: bold;
}

.pusher {
    padding-top: 3.673em;
}

.ui.invoice.form {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}